* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


    /* NAVIGATION/NAVBAR */
.navigation {
    background-color: #1C181D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    width: 100%;
    height: 60px;
    color: #E3E3E3;
}

.logo-mobile, .logo {
    cursor: pointer;
}


.logo-mobile {
    display: none;
}


.search-box {
    display: flex;
    padding: 8px;
    width: 35%;
    border: 1px solid #616161;
    /* border-color: #EBEBEB; */
    outline: none;
    border-radius: 10px;
    align-items: center;
    background-color: #322F33;
    /* justify-content: center; */
    gap: 6px;
}

.search-button, .notif-button {
    background-color: transparent;
    color: #B5B5B5;
    cursor: pointer;
    border: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 140%;
    /* outline: none;
    border: none; */
}

.search-button svg {
    fill: #B5B5B5;
    height: 1.1em;
    width: 1.1em;
    flex-shrink: 0;
  }

.search-box:hover {
    border: 2px solid #F7F7F7;
}

.search-box:focus-within {
    border: 3px solid #F7F7F7;
}

.search::-webkit-search-cancel-button {
    display: none;
}

.search {
    background-color: transparent;
    color: #E3E3E3;
    outline: none;
    border: none;
    width: 100%;
    text-decoration: none;
    padding: 1px;
    appearance: none;
}

.notif_user {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: space-between;
}


    /* NOTIFICATION BUTTON */

.notification {
    display: flex;
    align-items: center;
}

.notif-button {
    background-color: #322F33;
    border: none;
    border-radius: 8px;
    padding: 5px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.notif-button:hover {
    background-color: #616161;
}

.notif-button:focus {
    outline: 3px solid #005BD3;
}

.notif-button svg {
    fill: #B5B5B5;
    height: 25px;
    width: 25px;
    flex-shrink: 0;
}

.notif-button:hover svg {
    stroke: #FFFFFF;
    stroke-width: .6;
} 


/* NOTIFICATION MODAL */
.notif-modal {
    background-color: #FFFFFF;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    position: absolute;
    right: 10px;
    overflow: auto;
    transform-origin: 100% 100%;
    width: 430px;
    top: 65px;
    border: 1px solid #1C181D;
    display: inline-flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border: 2px solid #F7F7F7;
    color: #475467;
    z-index: 50;
}

.notif-button::-webkit-details-marker {
    display: none;
}

.notif-modal .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 3px;
}

.notif-modal .top h4 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.notif-modal .top div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-control,
.modal-check {
    background-color: #FFFFFF;
    border: none;
    color: #475467;
    cursor: pointer;
}

.modal-control svg,
.modal-check svg {
   width: 22px;
   height: 22px;
}

.notif-info {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 8px;
    background-color: #F1F1F1;
    width: 100%;
}



/* USER MODAL */

.user {
    display: flex;
    padding: 3px 2px 2px 8px;
    align-items: center;
    gap: 8px;
    background-color: #322F33;
    border-radius: 8px;
}

.user:hover {
    background-color: #616161;
}

.user:focus-within {
    outline: 3px solid #005BD3;
}

.nameofStore {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    gap: 7px;
    cursor: pointer;
}

.nameofStore:hover {
    background-color: #616161;
}

.userName h4 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}


.userName-button {
    background-color: #36FBA1;
    display: flex;
    height: 28px;
    padding: 9px 5px 10px 5px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    outline: none;
    list-style-type: none;
    color: #616161;
    cursor: pointer;
    font-size: 12px;
    line-height: 130%;
}

.userName-button::-webkit-details-marker,
 .userName.notif-button::-webkit-details-marker {
    display: none;
}

.userName-button1 h4 {
    font-size: 12px;
    line-height: 130%;
}

/* USER PROFILE MODAL */
.userdetails {
    background-color: #FFFFFF;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    position: absolute;
    right: 13px;
    overflow: auto;
    transform-origin: 100% 100%;
    width: 380px;
    top: 65px;
    border: 1px solid #1C181D;
    display: inline-flex;
    padding: 4px;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 3px; */
    border: 2px solid #F7F7F7;
    color: #475467;
    z-index: 50;
}

.userName-button1 {
    background-color: #36FBA1;
    display: flex;
    height: 28px;
    padding: 9px 5px 10px 5px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    outline: none;
    list-style-type: none;
    color: #616161;
    cursor: pointer;
}

.userdetails .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.userinfo {
    background-color: #F1F1F1;
    display: flex;
    padding: 4px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
    border-radius: 8px;
}

.userinfo svg, .stores svg {
    width: 30px;
    height: 30px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 6px;
    padding: 5px;  
}

.stores {
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    cursor: pointer;
    margin-bottom: 3px;
}

.stores:hover {
    background-color: #F7F7F7;
    border-radius: 8px;
}

.stores a > li {
    color: #616161;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    width: 100%;
}

.navigation-setting {
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 6px;
    padding: 5px;
    flex-direction: column;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
}

.navigation-setting a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-self: stretch;
  }

  .navigation-setting li {
    list-style: none;
    cursor: pointer;
    padding: 8px;
  }

  .navigation-setting li:hover {
    background-color: #F7F7F7;
    border-radius: 8px;
  }

.options, .options1 {
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    width: 100%;
}

.options h5, .options1 h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.account-setting {
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 6px;
    padding: 5px;
    flex-direction: column;
}

.account-setting a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-self: stretch;
  }

  .account-setting li {
    list-style: none;
    cursor: pointer;
    padding: 8px;
  }

  .account-setting li:hover {
    background-color: #F7F7F7;
    border-radius: 8px;
  }


.options1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.options1 h5 {
    font-weight: 600;
}

.options1 p {
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
}



    /* MAIN BODY */
.mainBody {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.trialCallout {
    display: flex;
    width: 50%;
    padding: 12px 8px 12px 16px;
    justify-content: space-between;
    align-items: center;
    background-color: #1C181D;
    color: #E3E3E3;
    margin-top: 20px;
    position: relative;
    border-radius: 10px;
}

.trialCallout h4 {
    font-size: 14px;
    font-weight: 500;
    margin-right: auto;
}

.trialButton {
    margin-left: auto;
    margin-right: 35px;
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--White, #FFF);
    box-shadow: 0px 0px 0px 0px #B5B5B5 inset;
    cursor: pointer;
}

.trialButton:hover {
    box-shadow: 0px 0px 1px 1px #B5B5B5;
    font-weight: 500;
}

.cancel {
    display: flex;
    position: absolute;
    background-color: #1C181D;
    border: none;
    right: 10px;
    cursor: pointer;
}

.cancel svg {
    width: 23px;
    height: 23px;
}

.cancel:hover svg {
    stroke: #FFFFFF;
    stroke-width: 1;
} 


    /* SETUP GUIDE ACCORDION */
.setupGuide {
    margin-top: 20px;
    width: 50%;
    padding: 10px 8px 10px 8px;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    color: #475467;
    margin-top: 20px;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.15);
     
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
}

.title h4 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.control {
    display: flex;
    cursor: pointer;
    background-color: #FFFFFF;
    border: none;
    padding: 3px;
    border-radius: 6px;
}

.control:hover {
    background-color: #F1F1F1;
}

.control svg {
    width: 25px;
    height: 25px;
}

.details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 7px;
    flex-direction: column;
    padding: 5px 3px;
}

.details h6 {
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
}

.details p {
    word-spacing: 4px;
    align-items: stretch;
}

.progress {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-self: stretch;
    justify-content: flex-start;
    gap: 10px;
}

.progress-bar-container {
    width: 10%;
    height: 5px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: #322F33;
    transition: width 0.3s ease;
}


    /* ACCORDION */

.accordion {
    display: none;
    align-items: center;
    border-radius: 8px;
    flex-direction: column;
    padding: 5px;
    overflow: hidden;
    max-height: 450px;
    transition: max-height 0.3s ease;
}

.open.accordion {
    display: flex;
}

.accordion-content {
    margin: 10px 0;
    overflow: hidden;
}

.accordion-content.open .customize-segment,
.accordion-content.open .product-segment,
.accordion-content.open .domain-segment,
.accordion-content.open .storeName-segment,
.accordion-content.open .payment-segment {
    background-color: #F7F7F7;
    border-radius: 8px;
}

.accordion-content + p {
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
}


.customize-segment,
.product-segment, .domain-segment,
.storeName-segment, .payment-segment {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 8px;
    border-radius: 12px;
    gap: 10px;
    /* overflow: hidden; */
}

.segment-head {
    align-self: stretch;
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    gap: 8px;
    min-height: 30px;
    padding: 0 15px;
    cursor: pointer;
}




input[type="checkbox"] + label {
    align-items: center;
    display: flex;
    justify-content: center;
    position: static;
}

input[type="checkbox"] + label svg {
    object-fit: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

input[type="checkbox"] + label svg:last-child {
    display: none;
    opacity: 0;
    transition: opacity 2s linear;
    transition-delay: 1s;
}

input[type="checkbox"]:checked + label svg:last-child {
    display: inline-flex;
    opacity: 1;
    transition-delay: 0s;
}

input[type="checkbox"] + label svg:first-child {
    display: inline-flex;
    transition: opacity 0.2s ease-in-out, stroke-dasharray .5s ease-in-out;
    position: relative;
}

input[type="checkbox"]:hover + label svg:first-child {
    stroke-dashoffset: 0;
    stroke-dasharray: 40;
    stroke-width: 0;
}

input[type="checkbox"] + label svg:nth-child(2) {
    display: none;
}

input[type="checkbox"]:checked + label svg:nth-child(2) {
    display: inline-flex;
    animation: rotateAnimation .3s linear 0.6s;
    position: absolute;
}

/* input[type="checkbox"]:checked + label svg:nth-child(2)::after {
    display: none;
    animation: rotateAnimation .9s linear 0.6s;
    position: absolute;
} */

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
        opacity: 1;
    }
    to {
        transform: rotate(360deg);
        opacity: 0;
    }
}

input[type="checkbox"] {
    display: none;
}

.segment-head h4 {
    font-size: 14px;
    font-weight: 600;
}

.segment-body {
    display: flex;
    flex-direction: row;
    padding: 0px 30px;
    align-items: flex-start;
    justify-content: center;
    height: 0;
    overflow: hidden;
    transition: all .2s linear;
}

.left p {
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.customize-button,
.addProduct-button,
.domain-button,
.storeName-button,
.payment-button  {
    display: flex;
    padding: 9px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--White, #616161);
    /* box-shadow: 0px 1px 0px 0px #B5B5B5 inset; */
    /* box-shadow: 0px 1px 0px 0px #333, 0px 2px 0px 2px #000 inset; */
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
    cursor: pointer;
    color: #FFFFFF;
}

.customize-button:hover,
.addProduct-button:hover,
.domain-button:hover,
.storeName-button:hover,
.payment-button:hover {
    background: #322F33;
    /* box-shadow: 0px 0px 0px 1.5px #333, 1px 0px 2px 0px #000 inset; */
    /* box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset; */
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
}

.customize-button:focus,
.addProduct-button:focus,
.domain-button:focus,
.storeName-button:focus,
.payment-button:focus {
    box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}

.button-divs {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

.importProduct-button {
    display: flex;
    padding: 10px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: transparent;
}

.importProduct-button:hover {
    background-color: #EBEBEB;
}

.right {
    align-items: center;
    display: flex;
}

.right img {
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .trialCallout, .setupGuide {
        width: 80%;
        border-radius: 10px;
    }
}

@media screen and (max-width: 768px) {
    .navigation {
        padding: 10px 8px;
    }

    .logo-mobile, .logo {
        cursor: pointer;
    }

    .logo-mobile {
        display: flex;
    }

    .logo {
        display: none;
    }

    .userName {
        display: none;
    }

    .search-box {
        width: 55%;
    }

    .search-button svg {
        height: 1em;
        width: 1em;
    }

    .notif-button {
        font-size: 12px;
        width: 28px;
        height: 28px;
        padding: 5px 4px;
    }

    .notif-button svg {
        width: 20px;
        height: 20px;
    }

    .notif-modal,
    .userdetails {
        width: 95%;
    }

    .modal-control svg,
    .modal-check svg {
        width: 20px;
        height: 20px;
    }

    .notif-info {
        display: flex;
        padding: 16px;
        align-items: center;
        gap: 8px;
        background-color: #F1F1F1;
        width: 100%;
        font-size: 13px;
    }

    .user {
        padding: 0;
        border: none;
    }

    .nameofStore {
        padding: 0;
        gap: 0;
        border: #000;
    }

    .trialCallout, .setupGuide {
        width: 100%;
        border-radius: 0;
    }

    .trialCallout {
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
    }

    .trialButton {
        margin-top: auto;
    }

    .cancel {
        margin-left: auto;
        top: 17px;
        right: 1px;
    }

    .setupGuide + p, .setupGuide + h4 {
        font-size: 12px;
    }

    .right {
        display: none;
    }
}


@media screen and (max-width: 460px) {
    .navigation {
        padding: 10px 8px;
    }

    .logo-mobile, .logo {
        cursor: pointer;
    }

    .logo-mobile {
        display: flex;
    }

    .logo {
        display: none;
    }

    .userName {
        display: none;
    }

    .search-box {
        width: 55%;
    }

    .search-button svg {
        height: 1em;
        width: 1em;
    }

    .notif-button {
        font-size: 12px;
        width: 28px;
        height: 28px;
        padding: 5px 4px;
    }

    .notif-button svg {
        width: 20px;
        height: 20px;
    }

    .notif-modal,
    .userdetails {
        width: 95%;
    }

    .modal-control svg,
    .modal-check svg {
        width: 20px;
        height: 20px;
    }

    .notif-info {
        display: flex;
        padding: 16px;
        align-items: center;
        gap: 8px;
        background-color: #F1F1F1;
        width: 100%;
        font-size: 13px;
    }

    .user {
        padding: 0;
        border: none;
    }

    .nameofStore {
        padding: 0;
        gap: 0;
        border: #000;
    }

    .trialCallout, .setupGuide {
        width: 100%;
        border-radius: 0;
    }

    .trialCallout {
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
    }

    .trialButton {
        margin-top: auto;
    }

    .cancel {
        margin-left: auto;
        top: 17px;
        right: 1px;
    }

    .setupGuide + p, .setupGuide + h4 {
        font-size: 12px;
    }

    .right {
        display: none;
    }

    .segment-body button {
        font-size: 12px;
    }
    
    .segment-body p {
        font-size: 12px;
    }
}