* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


    /* NAVIGATION/NAVBAR */
.navigation {
    background-color: #1C181D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 16px;
    width: 100%;
    height: 60px;
    color: #E3E3E3;
}

.logo-mobile, .logo {
    cursor: pointer;
}


.logo-mobile {
    display: none;
}


.search-box {
    display: flex;
    padding: 8px;
    width: 35%;
    border: 1px solid #616161;
    /* border-color: #EBEBEB; */
    outline: none;
    border-radius: 10px;
    align-items: center;
    background-color: #322F33;
    /* justify-content: center; */
    gap: 6px;
}

.search-button, .notif-button {
    background-color: transparent;
    color: #B5B5B5;
    cursor: pointer;
    border: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 140%;
    /* outline: none;
    border: none; */
}

.search-button svg {
    fill: #B5B5B5;
    height: 1.1em;
    width: 1.1em;
    flex-shrink: 0;
  }

.search-box:hover {
    border: 2px solid #F7F7F7;
}

/* .search-box:focus {
    border: 3px solid #F0F0F0;
} */

.search {
    background-color: transparent;
    color: #E3E3E3;
    outline: none;
    border: none;
    width: 100%;
    text-decoration: none;
    padding: 1px;
    
}

.notif_user {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: space-between;
}

.notif-button {
    background-color: #322F33;
    border: none;
    border-radius: 8px;
    padding: 5px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    list-style-type: none;
}

.notif-button svg {
    fill: #B5B5B5;
    height: 23px;
    width: 23px;
    flex-shrink: 0;
}

.notif-button:hover svg {
    stroke: #FFFFFF;
    stroke-width: .6;
} 


/* NOTIFICATION MODAL */
.notif-modal {
    background-color: #FFFFFF;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    position: absolute;
    right: 10px;
    overflow: auto;
    transform-origin: 100% 100%;
    width: 430px;
    top: 65px;
    border: 1px solid #1C181D;
    display: inline-flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border: 2px solid #F7F7F7;
    color: #475467;
    z-index: 50;
}

.notif-button::-webkit-details-marker {
    display: none;
}

.notif-modal .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 3px;
}

.notif-modal .top h4 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.notif-modal .top div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-control,
.modal-check {
    background-color: #FFFFFF;
    border: none;
    color: #475467;
    cursor: pointer;
}

.modal-control svg,
.modal-check svg {
   width: 22px;
   height: 22px;
}

.notif-info {
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 8px;
    background-color: #F1F1F1;
    width: 100%;
}

/* USER MODAL */

.user {
    display: flex;
    padding: 3px 2px 2px 8px;
    align-items: center;
    gap: 8px;
    background-color: #322F33;
    border-radius: 8px;
}

.nameofStore {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    gap: 7px;
    cursor: pointer;
}

.userName-button {
    background-color: #36FBA1;
    display: flex;
    height: 28px;
    padding: 9px 5px 10px 5px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    outline: none;
    list-style-type: none;
    color: #616161;
    cursor: pointer;
}

.userName-button::-webkit-details-marker,
 .userName.notif-button::-webkit-details-marker {
    display: none;
}

.userName-button h4 {
    font-size: 12px;
    line-height: 130%;
}

/* USER PROFILE MODAL */
.userdetails {
    background-color: #FFFFFF;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.15);
    border-radius: 14px;
    position: absolute;
    right: 13px;
    overflow: auto;
    transform-origin: 100% 100%;
    width: 380px;
    top: 65px;
    border: 1px solid #1C181D;
    display: inline-flex;
    padding: 4px;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 3px; */
    border: 2px solid #F7F7F7;
    color: #475467;
    z-index: 50;
}

.userName-button1 {
    background-color: #36FBA1;
    display: flex;
    height: 28px;
    padding: 9px 5px 10px 5px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    outline: none;
    list-style-type: none;
    color: #616161;
    cursor: pointer;
}

.userdetails .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.userinfo {
    background-color: #F1F1F1;
    display: flex;
    padding: 4px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
    border-radius: 8px;
}

.userinfo svg, .stores svg {
    width: 30px;
    height: 30px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 6px;
    padding: 5px;  
}

.stores {
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.stores a > li {
    color: #616161;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    width: 100%;
}

.navigation-setting {
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 6px;
    padding: 5px;
    flex-direction: column;
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
}

.navigation-setting a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-self: stretch;
  }

  .navigation-setting li {
    list-style: none;
    cursor: pointer;
  }

.options, .options1 {
    display: flex;
    padding: 6px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    width: 100%;
}

.options h5, .options1 h5 {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}

.account-setting {
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 6px;
    padding: 5px;
    flex-direction: column;
}

.account-setting a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-self: stretch;
  }

  .account-setting li {
    list-style: none;
    cursor: pointer;
  }

.options1 {
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.options1 h5 {
    font-weight: 600;
}

.options1 p {
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
}



    /* MAIN BODY */
.mainBody {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.trialCallout {
    display: flex;
    width: 50%;
    padding: 12px 8px 12px 16px;
    justify-content: space-between;
    align-items: center;
    background-color: #1C181D;
    color: #E3E3E3;
    margin-top: 20px;
    position: relative;
    border-radius: 10px;
}

.trialCallout h4 {
    font-size: 14px;
    font-weight: 500;
    margin-right: auto;
}

.trialButton {
    margin-left: auto;
    margin-right: 35px;
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: var(--White, #FFF);
    box-shadow: 0px 0px 0px 0px #B5B5B5 inset;
    cursor: pointer;
}

.trialButton:hover {
    box-shadow: 0px 0px 1px 1px #B5B5B5;
    font-weight: 500;
}

.cancel {
    display: flex;
    position: absolute;
    background-color: #1C181D;
    border: none;
    right: 10px;
    cursor: pointer;
}

.cancel svg {
    width: 23px;
    height: 23px;
}

.cancel:hover svg {
    stroke: #FFFFFF;
    stroke-width: 1;
} 


    /* SETUP GUIDE ACCORDION */
.setupGuide {
    margin-top: 20px;
    width: 50%;
    padding: 10px 8px 10px 8px;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    color: #475467;
    margin-top: 20px;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.15);
     
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
}

.title h4 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.control {
    display: flex;
    cursor: pointer;
    background-color: #FFFFFF;
    border: none;
    padding: 3px;
    border-radius: 6px;
}

.control:hover {
    background-color: #F1F1F1;
}

.control svg {
    width: 25px;
    height: 25px;
}